<!DOCTYPE html>
<html lang="en">
<head>
    <title>Graph structure analysis.</title>
    <meta charset="utf-8">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">script></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vega@5.13.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.8.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

    <!-- Import Vega 5 & Vega-Lite 4 (does not have to be from CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.24.2/build/vega-tooltip.min.js"></script>
    <link rel="stlesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vega-tooltip@0.24.2/vega-tooltip.scss">

    <style>hr, h3 {padding-bottom: 20px;}canvas {background-color: #f5f3f2;}</style>
    <style>
    div.waterfall {
        width: 1200px;
        height: 300px;
        overflow-x: auto;
        overflow-y: auto;
    }
    </style>
</head>
<body>
<div class="container" style="background-color: #f5f3f2;">
    <div class="charts text-center">
        <div class="cycles" id="cycles"></div><hr>
        <div class="graph_structure" id="graph_structure"></div><hr>
    </div>
</div>

<!-- Render Charts -->
<script type="text/javascript">
      vegaEmbed("#cycles", "/graph/cycles")
      vegaEmbed("#graph_structure", "/graph/graph_structure")
    </script>
</body>
</html>